<div class="flex min-h-screen flex-col justify-center px-12 py-6 lg:px-16 lg:py-6 bg-neutral-300">
  <div class="bg-white py-5 px-5 rounded-md w-full">
    <div class="px-10 py-2 bg-slate-50 h-50">
      <h2 class="sr-only">Steps</h2>
      <div class="relative">
        <ol class="relative z-10 flex justify-between text-xs font-medium text-gray-500">
          <li class="flex items-center gap-2 p-2">
            <span class="size-6 rounded-full bg-emerald-600 text-center text-[10px]/6 font-bold text-white"> 1 </span>
            <span class="hidden sm:block text-emerald-600"> Cabin </span>
          </li>
          <li class="p-5 after:bg-emerald-600 after:w-12 after:block after:h-0.5 "></li>
          <li class="flex items-center gap-2 p-2">
            <span class="size-6 rounded-full bg-indigo-600 text-center text-[10px]/6 font-bold text-white">2</span>
            <span class="hidden sm:block text-indigo-600"> Meal </span>
          </li>
          <li class="p-5 after:border-stone-400 after:border after:border-dashed after:w-14 after:block"></li>
          <li class="flex items-center gap-2 p-2">
            <span class="size-6 rounded-full bg-white text-center text-[10px]/6 font-bold"> 3 </span>
            <span class="hidden sm:block"> Upgrades </span>
          </li>
          <li class="p-5 after:border-stone-400 after:border after:border-dashed after:w-14 after:block"></li>
          <li class="flex items-center gap-2 p-2">
            <span class="size-6 rounded-full bg-white text-center text-[10px]/6 font-bold"> 4 </span>
            <span class="hidden sm:block"> Payments </span>
          </li>
        </ol>
      </div>
    </div>
    <div class="my-5">
      <h1 class="font-bold">Meal preferences</h1>
      <span class="text-xs font-normal">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using
        Lorem Ipsum. </span>
    </div>
    <div class="flex flex-wrap">
      <div class="basis-8/12 w-full mb-3">
        <p class="mb-2 font-medium text-sm text-zinc-600">Breakfast</p>
        <button class="w-11/12 flex justify-between text-black border-solid border border-stone-200 rounded-sm bg-white-700 hover:bg-white-800 focus:outline-none font-medium text-xs px-5 py-3.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button"><span>Half fried eggs and toast</span><svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>
      </div>
      <div class="basis-4/12 mb-3">
        <p class="mb-2 font-medium text-sm text-zinc-600">Drinks</p>
        <button class="w-full flex justify-between text-black border-solid border border-stone-200 rounded-sm bg-white-700 hover:bg-white-800 focus:outline-none font-medium text-xs px-5 py-3.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Tea<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>
      </div>
      <div class="basis-8/12 w-full mb-3">
        <p class="mb-2 font-medium text-sm text-zinc-600">Lunch</p>
        <button class="w-11/12 flex justify-between text-black border-solid border border-stone-200 rounded-sm bg-white-700 hover:bg-white-800 focus:outline-none font-medium text-xs px-5 py-3.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Half fried eggs and toast<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>
      </div>
      <div class="basis-4/12 mb-3">
        <p class="mb-2 font-medium text-sm text-zinc-600">Drinks</p>
        <button class="w-full flex justify-between text-black border-solid border border-stone-200 rounded-sm bg-white-700 hover:bg-white-800 focus:outline-none font-medium text-xs px-5 py-3.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Tea<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>
      </div>
      <div class="basis-8/12 w-full mb-3">
        <p class="mb-2 font-medium text-sm text-zinc-600">Dinner</p>
        <button class="w-11/12 flex justify-between text-black border-solid border border-stone-200 rounded-sm bg-white-700 hover:bg-white-800 focus:outline-none font-medium text-xs px-5 py-3.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Half fried eggs and toast<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>
      </div>
      <div class="basis-4/12 mb-3">
        <p class="mb-2 font-medium text-sm text-zinc-600">Drinks</p>
        <button class="w-full flex justify-between text-black border-solid border border-stone-200 rounded-sm bg-white-700 hover:bg-white-800 focus:outline-none font-medium text-xs px-5 py-3.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Tea<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="flex justify-between mt-10">
      <button type="button" class="text-gray-600 w-100 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-1 focus:ring-gray-100 font-medium rounded text-xs px-5 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Back</button>
      <button type="button" class="text-white w-100 bg-indigo-600 hover:bg-indigo-600 focus:ring-1 focus:ring-indigo-300 font-medium rounded text-xs px-5 py-1.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Continue</button>
    </div>
  </div>
</div>